body {
    background-color:#000;
}

.predlog{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.predlog img{
    width: 20%;
}

.text-predlog{
    color:#fff;
    background-color: #0000ff;
}