body {
    background-color: #000;
}

.chat-box {
    width: 39rem;
    max-width: 95%;
    margin: auto;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.typing {
    display: flex;
    align-self: center;
}

.typing input {
    width: 500px;
    height: 60px;
    color: #000;
    font-family: "Poppins", "sans-serif";
    font-size: 1rem;
}

.typing button {
    padding: 0 10%;
    color: #000;
    font-family: "Poppins", "sans-serif";
    font-size: 1rem;
    background-color: #0fd90f;
}

.typing button:hover {
    cursor: pointer;
    background-color: #227322;
    color:#fff;
}

.msg-area {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    min-height: 320px;
    margin-bottom: 20px;
    padding: 5px;
    border:2px solid #fff;
}

.poruka {
    margin: 1rem 0;
    width: 17rem;
    align-self: flex-start;
    color:#000;
    padding: 3px;
    border-radius: 50px;
    background-color: #0fd90f;
    align-content:center;
    text-align: center;
    align-self: flex-end;
}

.odgovor {
    margin: 1rem 0;
    min-width: 200px;
    min-height: 30px;
    color: #000;
    padding: 3px;
    border-radius: 50px;
    background-color: #7d7e7d;
    align-content: center;
    text-align: center;
    align-self: flex-start;
}